{% extends "base.html" %}

{% block content %}
    <h1>Добро пожаловать {{ user_name }}!</h1><br>
    {% if is_admin == True %}
        <div style="text-align: center">
            <a class="btn btn-success" href="/create_task" style="width: 200px">Создать задания</a>
        </div>
    {% else %}
        <h1 style="font-size: 1.05em">Пока что вам не доступны функции админа!</h1>
    {% endif %}
    <br><div style="text-align: center">
        <a class="alert alert-danger" href="/logout" style="width: 200px">Выход из аккаунта</a>
    </div>
{% endblock %}
